.container {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container img {
  width: 100%;
  height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.container section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 1rem;
  text-align: center;
  width: 100%;
}

.container section h1 {
  font-family: var(--font-aboreto);
  color: #ff7463;
  font-size: 58px;
  text-shadow: 3px 2px #111111;
  text-align: center;
}

.container section p {
  color: #444;
  font-size: 15px;
  letter-spacing: 1.5px;
  text-shadow: 0 0 0.4rem #ffffff;
  text-align: center;
}

.container section h2 {
  font-family: var(--font-aboreto);
  color: #ff7463;
  font-size: 28px;
  letter-spacing: 8px;
  text-shadow: 0 0 0.4rem #ff0000;
  text-align: center;
}

.container section button {
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #ff7463;
  color: #dddddd;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  max-width: 20rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: 0.1s ease;
}

.container section button:hover {
  background-color: #ff0000;
  color: #ffffff;
  box-shadow: 0 0 1rem #ff0000;
  transform: scale(1.05);
}

@media screen and (max-width: 1000px) {
  .container section h1 {
    font-size: 46px;
  }

  .container section h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 850px) {
  .container section {
    gap: 0.5rem;
  }

  .container section h1 {
    font-size: 32px;
    text-shadow: 2px 1px #111111;
  }

  .container section h2 {
    font-size: 22px;
    letter-spacing: 5px;
  }

  .container section button {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 450px) {
  .container section h1 {
    font-size: 22px;
  }

  .container section p {
    font-size: 12px;
  }

  .container section h2 {
    font-size: 16px;
    letter-spacing: 3px;
  }

  .container section button {
    font-size: 14px;
    padding: 0.6rem 0.8rem;
  }
}

@media screen and (max-width: 350px) {
  .container section h1 {
    font-size: 18px;
  }

  .container section p {
    font-size: 10px;
  }

  .container section h2 {
    font-size: 14px;
    letter-spacing: 2px;
  }
}
