.titulo {
  font-size: 40px;
  text-align: center;
  text-decoration: underline 4px;
  text-underline-offset: 15px;
  letter-spacing: 3px;
  line-height: 200%;
  font-family: var(--font-aboreto);
  color: #ff7463;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

@media screen and (max-width: 850px) {
  .titulo {
    letter-spacing: 1px;
    font-size: 26px;
  }
}

@media screen and (max-width: 480px) {
  .titulo {
    font-size: 22px;
    text-underline-offset: 10px;
    text-decoration: underline 3px;
  }
}
