.titulo {
  font-size: 40px;
  text-align: center;
  letter-spacing: 3px;
  font-family: var(--font-aboreto);
  color: #333;
  text-shadow: 0 0 0.2rem #000000;
  white-space: wrap;
  max-width: 100%;
  padding: 1rem 0;
  text-transform: uppercase;
}

@media screen and (max-width: 850px) {
  .titulo {
    letter-spacing: 1px;
    font-size: 26px;
  }
}

@media screen and (max-width: 480px) {
  .titulo {
    font-size: 20px;
  }
}
