.container {
  display: flex;
  flex-direction: column;
  margin: 10px 15%;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
  margin-top: 1rem;
  position: relative;
}

.leftImage {
  grid-column: 1;
  grid-row: 1;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightImage {
  grid-column: 2;
  grid-row: 2;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer:nth-of-type(1) {
  grid-column: 1;
  grid-row: 2;
}

.textContainer:nth-of-type(2) {
  grid-column: 2;
  grid-row: 1;
}

.image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subtitle {
  color: #ff7463;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-family: var(--font-aboreto);
}

.content p {
  font-family: var(--font-geist-sans);
  line-height: 1.6;
  font-size: 0.95rem;
  text-align: justify;
  text-indent: 50px;
}

.content p strong {
  color: #ff7463;
}

/* Responsividade para telas menores */
@media screen and (max-width: 768px) {
  .container {
    margin: 10px 5%;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .leftImage,
  .rightImage {
    margin: 0 auto 20px;
    max-width: 80%;
  }

  .subtitle {
    font-size: 1.5rem;
  }
}
