.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.imageContainer {
  width: 100%;
  max-width: 500px;
  margin-bottom: 2rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.contentPrincipal {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.mulherImage {
  width: auto;
  height: auto;
  max-height: 500px;
  max-width: 500px;
  object-fit: scale-down;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 5%;
}

.descriptionTitle {
  font-family: var(--font-aboreto);
  color: #ff7463;
  text-shadow: 0 0 0.1rem #000000;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
  width: 100%;
}

.description {
  font-family: var(--font-geist-sans);
  text-indent: 50px;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 1rem;
  color: #333;
  max-width: 800px;
}

@media (max-width: 767px) {
  .container {
    padding: 1.5rem;
  }

  .descriptionTitle {
    font-size: 1rem;
  }

  .description {
    font-size: 1rem;
  }

  .imageContainer {
    margin-bottom: 1.5rem;
  }

  .contentPrincipal {
    flex-direction: column-reverse;
    gap: 0;
  }

  .mulherImage {
    padding: 0 1rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1rem;
  }

  /* .descriptionTitle {
    font-size: 1.8rem;
  } */

  .description {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
}
